/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* index.css */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #1db954 transparent; /* For Firefox */
}

/* For Chrome, Safari, and Opera */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2c2c2c; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1db954; /* Thumb color */
  border-radius: 10px; /* Round edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1aa34a; /* Hover color */
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background: #14833c; /* Active color */
}
